<div class="container mt10p">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
    <!--<button class="btn btn-primary pull-right" (click)="logout()">Logout</button>-->
    <button class="btn btn-primary btn-block pull-right" (click)="exportToCsv()">Export To CSV</button>
    </div>
  </div>
 <div class="table-responsive mt10">
<table class="table table-bordered  table-striped table-hover mt10">
  <tr>
    <th>
      Sr.No
    </th>
    <th>
      First Name
    </th>
    <th>
      Last Name
    </th>
    <th>
      Email
    </th>
    <th>
      Mobile
    </th>
    <th>
      Message
    </th>
  </tr>
  <tr *ngFor="let user of users;let i=index">
    <td>{{i+1}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
     <td>{{user.mobile}}</td>
     <td>{{user.message}}</td>
  </tr>
</table>
</div>
</div>